body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.portfoliopage {
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
    background-color: paleturquoise;
    border: 5px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: left;
}
.info{
    display: block;
    flex-direction: row;
    height: 20vw
}
img{
    border-radius: 100%;
}
header{
    text-align: center;
}
.boxes{
    text-align: right;
}
.pages{
 
}
.centerDiv{
    display: flex;
    padding: 0px;
    flex-direction: column;
    text-align: center;
}
